#top{
  width: 100%;
  background: #c6c6c5 no-repeat top center;
  z-index: 1;
  height: 384px;
  min-width: 980px;
  overflow: hidden;
}
body{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 200;
  margin: 0 0;
  padding: 0 0;
  font-size: 15px;
}
/* LIST #1 */
#nav { margin-top: 15px; font-size: 19px;}
#nav ul { list-style:none; text-align:center; padding:0 0; }
#nav ul li { display:inline; padding:0 10px; letter-spacing:2px; line-height: 30px }
#nav ul li a { text-decoration:none; color:black; }
#nav ul li a:hover { text-decoration:none; }
#lichtjes{
  position: relative;
  top: -294px;
  left: 96px;
}
h2{
  position: relative;
  text-align: center;
  z-index: 9999;
}
h2 span{
  background-color: white;
  padding: 0 10px;
}
.text{
  padding: 10px;
  display: inline-block;
  margin-right: 40px;
}
.hightlight-first-letter p:first-letter{
  font-size: 20px;
  font-weight: 800;
}
.text.column p{
  width: 400px
}
.column-3 strong{
  margin: 0 0;
  padding: 0 0;
}
.column-3{
  background-color: #c6c6c5;
  margin: 10px 10px;
  padding: 13px 13px;
  width: 280px;
  float: left;
}
a:visited, a:link, a:hover{
  text-decoration: none;
  color: black;
}
.rek{
  width: 100%;
  display: inline-block;
  background-color: #c6c6c5;
  padding: 20px 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}